:root {
    --primary: #000000;
}
.h00_med_caps {
    color: var(--primary, #000);

    /* H00 Med CAPS */
    font-family: Poppins, sans-serif;
    font-size: 63px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px; /* 111.111% */
    text-transform: uppercase;
}
.h00_semi_bold {
    color: var(--primary, #000);

    /* H00 Semi Bold */
    font-family: Poppins, sans-serif;
    font-size: 63px;
    font-style: normal;
    font-weight: 700;
    line-height: 74px; /* 117.46% */
    text-transform: uppercase;
}
.h0_med {
    color: var(--primary, #000);

    /* H0 Med */
    font-family: Poppins, sans-serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px; /* 109.091% */
    text-transform: uppercase;
}
.h0_bold {
    color: var(--primary, #000);

    /* H0 Bold */
    font-family: Poppins, sans-serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 109.091% */
    text-transform: uppercase;
}
.h0_medium {
    color: var(--primary, #000);

    /* H0 Med */
    font-family: Poppins, sans-serif;
    font-size: 47px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}
.h0_bold_caps {
    color: var(--primary, #000);

    /* H0 Bold CAPS */
    font-family: Poppins, sans-serif;
    font-size: 47px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.h1_reg {
    color: var(--primary, #000);

    /* H1 Reg */
    font-family: Poppins, sans-serif;
    font-size: 39px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.h1_med {
    color: var(--primary, #000);

    /* H1 Med */
    font-family: Poppins, sans-serif;
    font-size: 39px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.h1_bold {
    color: var(--primary, #000);

    /* H1 Bold */
    font-family: Poppins, sans-serif;
    font-size: 39px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 46.8px */
}
.h2_reg {
    color: var(--primary, #000);

    /* H2 Reg */
    font-family: Poppins, sans-serif;
    font-size: 31px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.h2_bold {
    color: var(--primary, #000);

    /* H2 Bold */
    font-family: Poppins, sans-serif;
    font-size: 31px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.h3_reg {
    color: var(--primary, #000);

    /* H3 Reg */
    font-family: Inter, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 34.3px; /* 137.2% */
}
.h3_med {
    color: var(--primary, #000);

    /* H3 Med */
    font-family: Inter, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.h3_med_caps {
    color: var(--primary, #000);

    /* H3 Med CAPS */
    font-family: Inter,sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}
.h3_bold {
    color: var(--primary, #000);

    /* H3 Bold */
    font-family: Inter,sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.headline_h1_reg {
    color: var(--primary, #000);

    /* H1 Reg */
    font-family: Inter,sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.headline_h1_reg_caps {
    color: var(--primary, #000);
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.headline_h1_med_caps {
    color: var(--primary, #000);

    /* Headline h1 Med CAPS */
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}
.headline_h1_bold {
    color: var(--primary, #000);

    /* Headline h1 Bold */
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.subhead_s1_reg {
    color: var(--primary, #000);

    /* Subhead s1 Reg */
    font-family: Inter, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.caption_c1_reg {
    color: var(--primary, #000);

    /* Caption c1 Reg */
    font-family: Inter, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}