$black: black;

$secondary: #38CB89;

$red: #FF5630;

$neutral_1: rgba(255, 255, 255, 1);
$neutral_2: rgba(243, 245, 247, 1);
$neutral_3: rgba(224, 230, 235, 1);
$neutral_4: rgba(157, 173, 190, 1);
$neutral_5: rgba(82, 102, 122, 1);